In [1]:
import numpy as np

In [2]:
list=np.random.randint(3,10,20)

In [7]:
list

array([6, 8, 7, 3, 4, 7, 8, 5, 7, 6, 4, 7, 8, 9, 8, 3, 3, 5, 7, 4])

In [3]:
np.mean(list)

5.95

In [4]:
np.median(list)

6.5

In [8]:
import statistics as st

In [9]:
st.mode(list)

7

In [10]:
data=np.array([4,5,5,5,6,6,6,6,7,7,7,8])
range=data.max()-data.min()
print(range)

4

In [11]:
data=np.array([4,5,5,5,6,6,6,6,7,7,7,8])

In [12]:
#first quartile
q1=np.percentile(data,25)

In [17]:
q1

5.0

In [18]:
q2

6.0

In [19]:
q3

7.0

In [13]:
#second quartile
q2=np.percentile(data,50)

In [14]:
#third quartile
q3=np.percentile(data,75)

In [15]:
#interquartile range
IQR=q3-q1
print(IQR)

2.0

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv(r'C:\Users\user\Downloads\stock_data.csv')

In [26]:
df

            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3019 rows x 7 columns]

In [27]:
df['Open']

0       39.69
1       41.22
2       40.93
3       42.88
4       43.10
        ...
3014    71.42
3015    70.94
3016    69.77
3017    70.12
3018    69.79
Name: Open, Length: 3019, dtype: float64

In [31]:
np.mean(df['Open'])

28.426478966545215

In [32]:
np.median(df['Open'])

27.18

In [36]:
st.mode(df['Open'])

16.0